.App-container {
  min-height: 100vh;
  background-image: url('./images/versusBackground.jpg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 770px) {
  .App-container {
    background-image: url('./images/backgroundMobile.jpg');
    min-height: 1300px;
  }
}