@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  margin: 0;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: 'Nosifer', cursive;
  font-size: 5rem;
  margin: 0;
  padding-top: 4rem;
}

h2 {
  font-size: 3rem;
}

h3, .Winner-fontSpan {
  font-family: 'Metal Mania', cursive;
  letter-spacing: 2px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Winner-fontSpan {
  border-bottom: 1px solid gold;
}

option {
  color: black;
}

img {
  display: block;
  width: 100%;
  border-radius: 2rem;
  /* box-shadow: 14px 14px 5px 0 white; */
  box-shadow: 1px 2px 8px 11px white;
}